<h2><%= I18n.t('create_debt') %></h2>

<%= form_for @debt, url: debts_path do |f| %>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :terms %><br />
    <%= f.text_field :terms %>
  </div>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :debt_type %><br />
    <%= f.select :debt_type, options_for_select(
        Debt.debt_types.map do |key, value|
          [
            I18n.t(value, scope: :debt_type),
            key
          ]
        end
      )
    %>
  </div>

  <div class="actions">
    <%= f.submit I18n.t('create_debt') %>
  </div>
<% end %>
