<!DOCTYPE html>
<html>
  <head>
    <title><%= t('financial_control') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="flash" class="flash">
      <%= toastr_flash %>
    </div>

    <% if current_user %>
      <%= render partial: 'shared/authenticated_navbar' %>
    <% else %>
      <%= render partial: 'shared/visitor_navbar' %>
    <% end %>
    <%= yield %>
  </body>
</html>
